services:
  nginx:
    build: ./nginx
    ports:
      - "25565:25565"
    depends_on:
      - minecraft
      - bot
    restart: always
    networks:
      mcnet:
        ipv4_address: 172.20.0.2

  minecraft:
    restart: always
    build: ./server
    expose:
      - "25565"
      - "25575"
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      mcnet:
        ipv4_address: 172.20.0.3

  bot:
    build: ./bot
    depends_on:
      - minecraft
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    stdin_open: true
    tty: true
    expose:
      - "9000"
      - "9001"
    networks:
      mcnet:
        ipv4_address: 172.20.0.4

  webserver:
    build: ./web
    profiles: ["manual"]
    expose:
      - "1389"
    depends_on:
      - bot
    restart: always
    networks:
      - mcnet

networks:
  mcnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1
